@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #20B2AA;
  min-height: 100vh;
  padding: 10px;
} */
.pagination {
    margin: auto;
    margin-top: 30px;
}

.pagination ul{
  /* width: 500px; */
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #20B2AA;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #20B2AA;
}

.result-div {
    /* border: 1px solid black; */
    margin: auto;
}

.showcase {
    display: flex;
    width: 1300px;
    height: 600px;
    margin: auto;
}

.result-img {
    /* transform: scale(2); */
    margin: 50px;
    border: 1px solid black;
    width: 512px;
    height: 512px;
}

.download-div {
    display: flex;
    flex-direction: row;
}

.dwn-btn {
    height: 55px;
    width: 105px;
    margin: 0 3px;
}

.dwn-btn-all {
  height: 55px;
  width: 105px;
  margin: 0 3px;
}